<head>
    <link rel="stylesheet" href="../../public/css/nav.css">
</head>
<nav>
    <a href="/notepad"><i class="fas fa-arrow-left"></i> Voltar</a>
    <a href="/log_out"><i class="fas fa-sign-out-alt"></i> Sair</a>
</nav>