<head>
    <link rel="stylesheet" href="../public/css/user-form.css">
</head>

<div id="main-container">

    <h2>Preencha o formulário para realizar seu cadastro</h2>

    <form>
        <label for="name">Nome</label>
        <input type="text" name="name" placeholder="Digite seu nome completo.">

        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Digite seu email.">

        <label for="birthDate">Data de nascimento</label>
        <input type="date" name="birthDate" maxlength="10">

        <label for="password">Senha</label>
        <input type="password" name="password" placeholder="Digite sua senha">

        <label for="passwordConfirm">Confirme sua senha</label>
        <input type="password" name="passwordConfirm" placeholder="Digite novamente a sua senha">

        <div class="error message"></div>

        <input type="submit" value="Cadastrar-se" id="btn-register">
    </form>

    <h2>Já tem uma conta? <a href="/login"> <span>Faça seu login clicando aqui!</span></a></h2>
</div>

{{>footer}}

<script src="../public/js/form_submit.js" type="text/javascript"></script>