<head>
    <link rel="stylesheet" href="../public/css/home_page.css">
</head>

<div id="main-container">
    <div class="half-content-box">
        <h2>
            Bem vindo a plataforma mynotepad!
            Em nossa plataforma você pode gerenciar suas atividades,
            tarefas, afazeres... E organizá-los de forma rápida, prática e 100% online.
        </h2>
    </div>

    <div class="half-content-box">
        <img src="../public/img/mynotepad-icon.png" alt="Imagem de um bloco de notas">
    </div>
</div>

<div id="link-button">
    <a href="/notepad">Clique aqui e comece a usar agora!</a>
</div>

{{>footer}}